@use "../styles/theme" as *;

@mixin NotificationColor($color){
    .line{
        background: $color;
    }
    .icon-container{
        background: $color;
    }
}

.notification{
    position: relative;
    pointer-events: all;
    max-width: 25vw;
    cursor: pointer;
    padding: 1rem 1.5rem;
    background: #fafafa;
    box-shadow: 0 6px 12px 0 #a99f9f5c;
    // backdrop-filter: blur(5px);
    border-radius: 5px;
    @include onDarkMode{
        box-shadow: none;
    }
    &.successful{
        @include NotificationColor(#20a779)
    }
    &.info{
        @include NotificationColor(#0169dc)
    }
    &.warning{
        @include NotificationColor(#f0a92e)
    }
    &.error{
        @include NotificationColor(#fc5758)
    }
    & > * {
        display: inline-block;
        vertical-align: middle;
        margin: 5px;
    }
    .line{
        position: absolute;
        top:50%;
        left: 5px;
        transform: translateY(-50%);
        width: 5px;
        border-radius: 5px;
        height: 80%;
    }
    .title{
        color: #282c36;
        font-size: 1em;
    }
    .description{
        font-size: .8em;
        color:#93959a;
    }
    .icon-container{
        $size: 35px;
        position: relative;
        border-radius: 50%;
        height: $size;
        width: $size;
        padding: 5px;
        .icon{
            position: center;
            width: 100%;
            height: 100%;
            fill:white;
        }
    }
}