@use "../../styles/theme" as *;

$themes: (
    light: (
      text: #4e4949
    ),
    dark: (
      text: #fff
    ),
);

.social-container{
    margin: 1em 0;
    @include themify($themes){
        .text{
            color: themed("text");
        }
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, 1fr);
        grid-auto-flow: column;
        gap: 10px;
    }
    .fieldset{
        width: 100%;
        margin: 5px 0;
        display: flex;
        align-items: center;
        .line{
            flex: 1 1 0%;
            border-top: 1px solid rgba(217, 218, 220, 0.3);
        }
        .text{
            transition: color $duration;
            flex: 0.3 1 0%;
            align-self: center;
            text-align: center;
            z-index: 2;
            padding: 0 5px;
            font-weight: bold;
            font-size: 1em;
            background: inherit;
            user-select: none;
            text-transform: uppercase;
            
        }
    }
}

.social-button{
    padding: .8em;
    border-radius: 10px;
    cursor: pointer;
    background: #444;
    height: 55px;
    transition: all 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon{
        margin: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
    &:hover{
        border-radius: 5px;
        scale: 1.05;
        &.Apple{
            background: rgb(0, 0, 0);
        }
        &.Facebook{
            background: #3b5998;
        }
        &.Google{
            background: #de4032;
        }
    }
}