@use "../styles/mixin" as *;

.download-card{
    background-image: linear-gradient(to right, darken(#3f8bf5, 30%), #3f8bf5);
    box-shadow: 0 6px 19px 0 #3385f795;
    border-radius: 15px;
    padding: 1em 1.5em;
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 2em;
    justify-content: space-between;
    height: 6em;
    @include set_load_animation(1s);
    .text-container{
      color: #ffffff;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      h1{
        font-weight: 400;
        font-size: .9em;
      }
      .name{
        font-weight: 300;
        opacity: .6;
        font-size: .8em;

      }
    }
  }